<!DOCTYPE html>
<html lang = "ja">
  <head>
  	<meta charset="utf-8">
  	<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title><%= "Love Report" %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="shortcut icon" type="images/png" href="./images/logo.png">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <script src="javascript/facebook.js"></script>
  	<div class = "wrapper">
  		<nav class = "navbar navbar-inverse navbar-fixed-top">
  			<div class="navbar-header">
          <img class="nav-pic" src="./images/logo3.png">

  				<!--トグルボランの設置-->
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  			</div>
  			<div class="collapse navbar-collapse" id="nav-content">
  				<!--リンクのリスト　メニューリスト-->
  				<ul class="nav navbar-nav">
            <li><a href="http://localhost:3000"><strong>Home</strong></a></li>
  					<li><a href="http://localhost:3000/request"><strong>Create Request</strong></a></li>
  					<li><a href="http://localhost:3000/request/detail"><strong>FaceBook</strong></a></li>	
  				</ul>
  				<!--検索フォーム-->
  				<form class="navbar-form navbar-right" role="search">
  					<div class="form-group">
  						<input type="text" class="form-control" placeholder="Enter Here...">
  					</div>
  					<button type="submit" class="btn btn-default">Search</button>
  				</form>
  			</div>
  		</nav>
      <header class="jumbotron">
        <div class="info-container">
          <h1>Find Your Partner.</h1>
          <p> &nbsp;&nbsp;&nbsp;&nbsp;Want a &nbsp;<strong>PARTNER</strong>&nbsp; or in need of &nbsp;<strong>HELP</strong> ? &nbsp;Why not utilize this site to fulfill your needs. All you need to do is complete an easy form to make a request!</p>
          <p><a href="http://localhost:3000/request" class="btn btn-primary btn-lg" role="button">Make Your Request &raquo;</a></p>
        </div>
          <img class="head-pic" src="./images/logo3.png">
      </header>
      <div class="container main-content">
        <div class="row">
          <div class="col-md-9 content-area">
            <div class="main-name">
              <strong>Newly Arrived</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="boxContentWrap btnNew" style="display: block;">
              <ul>

                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>

                </li> 
                
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                  <div class="box">

                  </div>
                </li>
                <li class="boxItem clearfix">
                  <div class="boxItemPicture">
                    <img class="icon-img" src="./images/logo.png">
                      <p class="name">友利郁也</p>
                  </div>
                  <div class="boxItemContent">
                    <h2 class="req-ttl"> <a href="http://localhost:3000/request/detail">ウェブサイトの作り方を教えてください  </a>
                    </h2>
                  </div>

                  <div class="req-dtl">
                    <p class="txt">
                      なにかここに内容を入れてください
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div><!--/.content-area-->
          <div class="col-md-3 sidebar">
            <aside>
              <h4><strong>Top Supporter's Ranking</strong></h4>
              <ul class="list-unstyled">
                <li>No.1</li>
                <li>No.2</li>
                <li>No.3</li>
                <li>No.4</li>
                <li>No.5</li>
              </ul>
            </aside>
            <aside>
              <h4><strong>Popular User Ranking</strong></h4>
              <ul class="list-unstyled">
                <li>No.1</li>
                <li>No.2</li>
                <li>No.3</li>
                <li>No.4</li>
                <li>No.5</li>
              </ul>
            </aside>

          </div><!--/.sidebar-->
        </div>
      </div><!--/.main-content-->
      <footer class="container-fluid">
          <small>logo graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></small>
        </footer>
    </div>
  </body>
</html>
