<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title><%= "Love Report" %></title>
    <link rel='stylesheet' href='/stylesheets/request.css' />
    <link rel="shortcut icon" type="images/png" href="/images/logo.png">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <nav class = "navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <img class="nav-pic" src="/images/logo3.png">

          <!--トグルボランの設置-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-content">
          <!--リンクのリスト　メニューリスト-->
          <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000"><strong>Home</strong></a></li>
            <li><a href="http://localhost:3000/request"><strong>Create Request</strong></a></li>
            <li><a href="http://localhost:3000/request/detail"><strong>FaceBook</strong></a></li> 
          </ul>
          <!--検索フォーム-->
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Here...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </nav>
      <header class="jumbotron">
        <div class="info-container">
          <h1>Make Your Request.</h1>
          <p> &nbsp;&nbsp;&nbsp;&nbsp;Here, you can complete the  &nbsp;<strong> FORM </strong> &nbsp; to make a <strong>REQUEST</strong> to help you out! An easy login to  &nbsp;<strong>FACEBOOK</strong> will automatically receive the information needed. </p>
        </div>
          <img class="head-pic" src="/images/logo3.png">
      </header>
      <div class="container main-content">
        <div class="main-name">
          <strong>Request Form</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="request-container">
          <form action="URL" method="post" enctype="multipart/form-data" class>
            <div class="req-title">
              <p><strong>&nbsp;<&nbsp;Suject Name&nbsp;>&nbsp;</strong></p>
                <div class="title-edit"><textarea name="Subject" cols="31" rows="1" maxlength="30" placeholder="Enter Here..."　required></textarea></div>
            </div>
            <div class="req-detail">
              <p><strong>&nbsp;<&nbsp;Request Detail&nbsp;>&nbsp;</strong></p>
                <div class="detail-edit"><textarea class="detail-box" name="Detail" placeholder="Enter Here..."　required></textarea></div>
            </div>    
            <div class="submit-btn">
              <input type="submit" Value="Submit">
            </div>   
          </form>
        </div>
      </div>
      <footer class="container-fluid">
        <small>logo graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></small>
      </footer>
    </div>
  </body>
</html>